@charset "UTF-8";

/* Paleta de cores
verde:  #49a09d
Lilás: 5f2c82
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

body {

    background-image: linear-gradient( to top, #49a09d, #5f2c82);
}
   
section#Login {
    width: 80vw;
}
section#Login > div#imagem {
    float: left;
    width: 40%;
    height: 100%;
    top: 70%;
    left: 30%;
    transform: translate(0%, 0%);
    background-position: center ;
}

section#Login > div#formulario {
    float: right;
}

}

@media screen and (min-width: 993px) {

body {

    background-image: linear-gradient( to top, #49a09d, #5f2c82);
}

section#Login {
    width: 950px;
    }

section#Login > div#imagem {
    float: right;
    width: 50%;
    height: 100%;
    top: 70%;
    left: 30%;
    transform: translate(0%, 0%);
    background-position: center ;
}

section#Login > div#formulario {
    float: left;
    width: 50%;
}

}